﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FormSubmission.aspx.cs" Inherits="PayFortIntegration.FormSubmission" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form method="post" action="https://sbcheckout.PayFort.com/FortAPI/paymentPage" id="form1" name="form1">
        <div id="hiddenfiels"></div>
            <input type="text" id="merchant_identifier" name="merchant_identifier" value="CwiRclrh" /><br />
            <input type="text" id="access_code" name="access_code" value="TBuulxmCCpvcLLkDqrrV" /><br />
            <input type="text" id="merchant_reference" name="merchant_reference" value="<%= OrderReference %>" /><br />
            <input type="text" id="service_command" name="service_command" value="TOKENIZATION" /><br />
            <input type="text" id="language" name="language" value="en" /><br />
            <input type="text" id="return_url" name="return_url" value="https://localhost:44312/order-result" /><br />
            <input type="text" id="signature" name="signature" value="<%= ShaSignature %>" /><br />
            <input type="text" id="card_holder_name" name="card_holder_name" value="test" /><br />
            <input type="text" id="card_number" name="card_number" value="4005550000000001" /><br />
            <input type="text" id="expiry_date" name="expiry_date" value="2105" /><br />
            <input type="text" id="card_security_code" name="card_security_code" value="123" /><br />
        <input type="submit" value="Get Token" id="btnSubmit" name="" />
    </form>
    
</body>
</html>
