﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="order-result.aspx.cs" Inherits="PayFortIntegration.order_result" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
<form id="form1" runat="server">
    <h2>Order Processed</h2>
    <asp:Label runat="server" ID="lblResult"></asp:Label>
</form>
</body>
</html>
